<!DOCTYPE html>
<html>
  <head>
    <title>Volta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Volta" />
    <meta property="og:image" content="<%= image_url('volta_linkedin.png') %>" />
    <meta property="og:description" content='Volta, a Tesla clone, is an eCommerce web application that allows users to search for and "purchase" Volta electric vehicles. Users can also publicly share short reviews and comments for all Volta products that can be viewed by other users.' />
    <meta property="og:url" content="https://sandoval-volta.herokuapp.com/#/" />

    <%= favicon_link_tag 'favicon.png' %>

    <script type="text/javascript">

      // homepage
      window.downArrowURL = "<%= asset_url('down_arrow.svg') %>";
      window.voltaLogoURL = "<%= asset_url('Volta-Logo-2.png') %>";
      window.model3URL = "<%= asset_url('Desktop-Model3.jpg') %>";
      window.modelSURL = "<%= asset_url('Desktop-ModelS.jpg') %>";
      window.modelXURL = "<%= asset_url('Desktop-ModelX.jpg') %>";
      window.modelYURL = "<%= asset_url('Desktop-ModelY.jpg') %>";

      // userprofile
      window.nocarSURL = "<%= asset_url('nocar-modelS.jpg') %>";
      window.nocarXURL = "<%= asset_url('nocar-modelX.jpg') %>";
      window.powerwallBatteryURL = "<%= asset_url('powerwall-battery.png') %>";

      //404 page
      window.starmanURL = "<%= asset_url('starman.svg') %>";

      // product show page
      window.tempestURL = "<%= asset_url('19Tempest.png') %>";
      window.arachnidURL = "<%= asset_url('21Arachnid.png') %>";
      window.aeroURL = "<%= asset_url('18Aero.png') %>";
      window.sportURL = "<%= asset_url('19Sport.png') %>";
      window.geminiURL = "<%= asset_url('19Gemini.png') %>";
      window.inductionURL = "<%= asset_url('20Induction.png') %>";
      window.cyberstreamURL = "<%= asset_url('20Cyberstream.png') %>";
      window.turbineURL = "<%= asset_url('22Turbine.png') %>";
      window.interiorBlackURL = "<%= asset_url('Interior_Black.png') %>";
      window.interiorCreamURL = "<%= asset_url('Interior_Cream.png') %>";
      window.interiorWhiteURL = "<%= asset_url('Interior_White.png') %>";
      window.paintBlackURL = "<%= asset_url('Paint_Black.png') %>";
      window.paintBlueURL = "<%= asset_url('Paint_Blue.png') %>";
      window.paintMidnightSilverURL = "<%= asset_url('Paint_MidnightSilver.png') %>";
      window.paintRedURL = "<%= asset_url('Paint_Red.png') %>";
      window.paintWhiteURL = "<%= asset_url('Paint_White.png') %>";

      // first products
      window.model_s_firstURL = "<%= asset_url('model_s_first.jpg') %>";
      window.model_x_firstURL = "<%= asset_url('model_x_first.jpg') %>";
      window.model_3_firstURL = "<%= asset_url('model_3_first.jpg') %>";
      window.model_y_firstURL = "<%= asset_url('model_y_first.jpg') %>";

      // shopping cart
      window.shoppingCartURL = "<%= image_url('shopping-cart.png') %>";
      window.shoppingCartInverseURL = "<%= image_url('shopping-cart-inverse.png') %>";

    </script>

    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>",
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
