<!DOCTYPE html>
<html>
  <head>
    <title>Volta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'favicon.png' %>

    <script type="text/javascript">
      window.downArrowURL = "<%= image_url('down_arrow.svg') %>";
      window.teslaLogoSmallURL = "<%= image_url('Tesla-Logo.svg') %>";
      window.accessoriesURL = "<%= image_url('Desktop-Accessories.jpeg') %>";
      window.model3URL = "<%= image_url('Desktop-Model3.jpeg') %>";
      window.modelSURL = "<%= image_url('Desktop-ModelS.jpeg') %>";
      window.modelXURL = "<%= image_url('Desktop-ModelX.jpeg') %>";
      window.modelYURL = "<%= image_url('Desktop-ModelY.jpeg') %>";
      window.solarPanelsURL = "<%= image_url('Desktop-SolarPanels.jpeg') %>";
      window.solarRoofURL = "<%= image_url('Desktop-SolarRoof.jpeg') %>";
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>",
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
